.TitleWrapper {
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
  align-items: center;
  text-align: center;
}

.line {
  height: 0.1px;
  width: 90%;
  margin-top: 20px;
  background-color: gray;
  margin: 0 auto;
}

.ChargeWrapper {
  display: flex;
  position: relative;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 35px;
}
.charge {
  display: flex;
  width: 100%;
  padding: 30px 50px;
  justify-content: space-between;
  align-items: center;
}

.coinwrap {
  display: flex;
  align-items: center;
}

.coinfont {
  margin-right: 10px;
}

.chargeBtn {
  cursor: pointer;
  margin-left: 50px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  padding-top: 7px;
  color: white;
  background: transparent;
  font-size: 22px;
}
