.mypageWrapper {
  margin-bottom: 100px;
}

.myinfo {
  margin-top: 60px;
  position: relative;
  align-items: center;
  text-align: center;
}

.myimg {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.id {
  color: gray;
  padding: 5px;
  font-size: 14px;
}
.Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.coinfont {
  margin-bottom: 35px;
}
.mycoin {
  color: gray;
  padding: 5px;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 35px;
}
.line {
  margin: 0 auto;
  border: 0.3px solid gray;
  width: 90%;
}

.fontimg {
  font-size: 25px;
}

.font {
  font-size: 18px;
  margin-left: 10px;
}

.mycornerWrapper {
  position: relative;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.mycorner {
  margin: 0 auto;
  width: 230px;
  height: 460px;
}

.CourseWrapper {
  display: flex;
  flex-direction: row;
  padding: 35px;
  margin-bottom: 20px;
}
