.gridContainer {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%/2, max(140px, 100%/4)), 1fr)
  );
  /* create grid-template-columns minimum 2columns, maximum 3 columns */

  row-gap: 24px;
  column-gap: 18px;

  /* border: 1px solid yellow; */
  padding: 25px 20px;
  margin: 0;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.content {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* height: 180px; */
  /* width: calc((100vw / 2) - 150px); */
  max-width: 480px;
}

.thumbnailContainer {
  /* make the video responsive */
  position: relative;
  width: 100%;
  /* height: 150px; */
  height: calc(30vw);
  max-height: 180px;
  /* border: 1px solid red; */
  display: block;
  object-fit: cover;
  overflow: hidden;
}

.title {
  font-size: 0.725rem;
  font-weight: 600;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid pink; */
  width: 100%;
  height: auto;
  margin-top: 8px;
}

.semiInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 4px;
  width: 100%;
}

.category {
  font-size: 0.625rem;
  margin-right: 4px;
  color: var(--semi-info-text-color);
}
.username {
  font-size: 0.625rem;
  color: var(--semi-info-text-color);
}
