.baseNav {
  display: flex;
  height: 56px;
  width: 100%;
  margin: 0 auto;
  background-color: #0a191f;
  position: sticky;
  top: 0;
}

.leftbtn {
  color: white;
  margin-left: 15px;
  border: 0;
  background-color: #0a191f;
  outline: 0;
}
.font {
  width: 40px;
  height: 24px;
  font-size: 24px;
}
