.nav {
  display: flex;
  position: sticky;
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
  color: white;
  height: 56px;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}
.change_nav {
  display: none;
}

.font {
  width: 24px;
  height: 24px;
}
.logo {
  padding-left: 10px;
  font-size: 16px;
}
