.carouselSection {
  width: 100%;
  height: 462px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.Container {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.Slide {
  flex-shrink: 0;
  width: 100%;
  height: 50%;
}

.titlecontainer {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  top: 70%;
  z-index: 100;
}

.title {
  color: white;
  font-size: 24px;
  z-index: 100;
}

.Btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: wheat;
  font-size: 1.5rem;
  border-width: 0;
  cursor: pointer;
  z-index: 10;
  width: 50px;
}
.BtnLeft {
  left: 0;
}
.BtnRight {
  right: 0;
}

.progress {
  position: relative;
  height: 1px;
  width: 70%;
  margin-left: 15px;
  border: 1px solid grey;
}
.color {
  position: absolute;
  background-color: #ffffff;
  height: 1px;

  animation: progres 3s infinite ease;
}
@keyframes progres {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
} ;
