.tab {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 54px;
  margin: 0 auto;
  background: #0a191f;
  bottom: 0;
}

.Icon {
  width: 20px;
  height: 20px;
}
.font {
  font-size: 0.625rem;
  margin: 0;
}

.tabItem {
  color: #ababab;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 30vw;
}

.active {
  color: white;
}
