.progress {
  position: relative;
  height: 1px;
  width: 100px;
  border: 1px solid #f4a261;
}
.color {
  position: absolute;
  background-color: #ffffff;
  height: 1px;

  animation: progres 3s infinite linear;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
} ;
